<div class="container py-5">
    <div class="row mb-4">
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-light">Cadastro de Clube</h2>
        </div>
    </div>
    <form [formGroup]="formulario" (submit)="Salvar()">
      <div class="form-group">
        <label for="nome">Nome</label>
        <input formControlName="nome" name="nome" type="text" class="form-control" id="nome">
      </div>
      <div class="form-group">
        <label for="anoFundacao">Ano de Fundação</label>
        <input formControlName="anoFundacao" name="anoFundacao" type="number" class="form-control" id="anoFundacao">
      </div>
      <div class="form-group">
        <label for="urlRedeSocial">Rede Social</label>
        <input formControlName="urlRedeSocial" name="urlRedeSocial" type="text" class="form-control" id="urlRedeSocial">
      </div>
      <div class="form-group">
        <label for="estadioId">Estadios</label>
        <select placeholder="Selecionar..." class="form-control" formControlName="estadioId" name="estadioId" id="estadioId">
            <ng-container *ngFor="let estadio of estadios">
                <option [ngValue]="estadio.id">{{estadio.nome}}</option>
            </ng-container>
        </select>
      </div>
      <button type="submit" class="btn btn-primary float-right">Salvar</button>
    </form>
  </div>
